<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0">
<title></title>
<link type="text/css" rel="stylesheet" href="/static/css/buy/style.css">
</head>

<body style="background:#f5f5f5">
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="/static/img/images/buy/goback.png"></a>
    </div>
    <div class="headerC">
      <p>订单结算</p>
    </div>
    <div class="headerR"></div>
  </div>
</div>
<div class="clear"></div>
<div class="h50"></div>
<div class="clear"></div>
<div class="addressbox">
  <p>河北省石家庄市桥西区</p>
  <img src="/static/img/images/buy/go.png">
</div>
<div class="clear"></div>
<div class="allkbox"></div>
<div class="clear"></div>
<div class="buybox">
  <div class="itembox">
     <div class="dp"><p>前途家床品旗舰店</p><img src="/static/img/images/buy/go.png"></div>
     <div class="dpnr">
        <div class="L"><img src="/static/img/images/buy/11.jpg"></div>
        <div class="R">
          <div class="tit">KOBE LETTUCE 秋冬新款 女士日系甜美纯色半高领宽松套头毛衣针织衫</div>
          <div class="sub">尺寸：200*240cm</div>
          <div class="price"><p>￥1289</p><span>×1</span></div>
        </div>
     </div>
  </div>
  <div class="clear"></div>
  <div class="allkbox"></div>
  <div class="clear"></div>
  <div class="itemboxcon">
    <p>支付方式</p>
    <img src="/static/img/images/buy/go.png">
  </div>
  <div class="itemboxcon">
    <p>优惠券</p>
    <img src="/static/img/images/buy/go.png">
  </div>
  <div class="allkbox"></div>
  <div class="itemboxcon">
    <p>运费</p>
    <img src="/static/img/images/buy/go.png">
    <span>15.00元</span>
  </div>
  <div class="allkbox"></div>
  <div class="itemboxcon">
    <p>买家留言</p>
    <font>请填写备注（选填）</font>
    <img src="/static/img/images/buy/go.png">
  </div>
</div>
<div class="clear"></div>
<div class="h54"></div>
<div class="clear"></div>
<div class="footerBox">
  <div class="footer3">
    <div class="L">
      <p>总计：<span>￥1300.00</span></p>
    </div>
    <div class="R">
      <a href="javascript:">确认支付</a>
    </div>
  </div>
</div>


</body></html>