<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0"
    />
    <title></title>
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/detail/style.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/detail/banner.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      type="text/javascript"
      src="/static/js/jquery-2.1.4.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    
  </head>

  <body>
    <div id="bigbox">
    <div class="headerbox">
      <div class="header">
        <div class="headerL">
          <a onclick="javascript:history.back(-1)" class="goback"
            ><img src="/static/img/images/detail/goback.png"
          /></a>
        </div>
        <div class="headerC">
          <p>详情描述</p>
        </div>
        <div class="headerR">
          <a href="javascript:void()"
            ><img src="/static/img/images/detail/more.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="h50"></div>
    <div class="clear"></div>
    <div class="aui-m-slider">
      <div class="m-slider" data-ydui-slider="">
        <div
          class="slider-wrapper"
          style="
            transform: translate3d(-1080px, 0px, 0px);
            transition-duration: 300ms;
          "
        >
          <!-- <div class="slider-item" style="width: 360px;">
            <a href="javascript:;">
              <img :src="info.images" />
            </a>
          </div>
          <div class="slider-item" style="width: 360px;">
            <a href="javascript:;">
              <img :src="info.images" />
            </a>
          </div> -->
          <div class="slider-item" style="width: 360px;"> <a href="javascript:;"> <img src="/static/img/images/detail/01.jpg"> </a> </div>
      <div class="slider-item" style="width: 360px;"> <a href="javascript:;"> <img src="/static/img/images/detail/01.jpg"> </a> </div>
      <div class="slider-item" style="width: 360px;"> <a href="javascript:;"> <img src="/static/img/images/detail/01.jpg"> </a> </div>
      <div class="slider-item" style="width: 360px;"> <a href="javascript:;"> <img src="/static/img/images/detail/01.jpg"> </a> </div>
        </div>
        <div class="slider-pagination">
          <span class="slider-pagination-item"></span
          ><span class="slider-pagination-item"></span
          ><span
            class="slider-pagination-item slider-pagination-item-active"
          ></span
          ><span class="slider-pagination-item"></span>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="detailbox">
      <h4>{info.name}</h4>
      <div class="price">
        <em>￥</em>
        <span id="price">{info.price}</span>
        <span
          style="
            text-decoration: line-through;
            color: #b7b7bf;
            font-size: 12px;
            padding-left: 5px;
            font-weight: normal;
          "
        >
          ￥680
        </span>
        <font>已售500件</font>
      </div>
    </div>
    <div class="clear"></div>
    <div class="allkbox"></div>
    <div class="clear"></div>
    <div class="detailbox_2">
      <p class="tit">产品参数：</p>
      <ul>
        <li>品牌: 水星被里</li>
        <li>材质: 棉棉</li>
        <li>种类: 棉</li>
        <li>风格: 田园</li>
        <li>成分含量: 100%</li>
        <li>图案: 植物花卉</li>
        <li>件数: 4件</li>
        <li>产品等级: 合格品</li>
        <li>床品工艺: 其他</li>
        <li>面料支数: 40支</li>
        <li>面料密度: .</li>
        <li>货号: AY590404AY590804</li>
        <li>织造工艺: 斜纹</li>
        <li>款式: 床单式 床笠式</li>
        <li>适用人群: 大众</li>
        <li>被面材质: 棉</li>
        <li>适用床尺寸: 1.2m（4英尺）床 1.5m（5英尺）床 1.8m（6英尺）床</li>
        <li>
          颜色分类: 莎莉亚(床笠款) 莎莉亚(床单款) 安逸若兮(鸟蛋绿/床单款)
          安逸若兮(鸟蛋绿/床笠款) 繁花梦语(婴儿蓝/床笠款)
          繁花梦语(婴儿蓝/床单款) 【100%全棉 原创设计】 【清新优雅】
          【手感柔软】 【原创设计】 花西雅(床单款) 花西雅(床笠款)
        </li>
      </ul>
      <img src="/static/img/images/detail/02.jpg" />
      <img src="/static/img/images/detail/04.jpg" />
      <img src="/static/img/images/detail/05.jpg" />
      <img src="/static/img/images/detail/06.jpg" />
      <img src="/static/img/images/detail/07.jpg" />
      <img src="/static/img/images/detail/08.jpg" />
      <img src="/static/img/images/detail/09.jpg" />
    </div>
    <div class="clear"></div>
    <div class="h54"></div>
    <div class="footerbox">
      <div class="footer2">
        <ul>
          <li>
            <a href="javascript:void()"
              ><img src="/static/img/images/detail/dp.png" /><span
                >店铺</span
              ></a
            >
          </li>
          <li>
            <a href="javascript:void()"
              ><img src="/static/img/images/detail/sc.png" /><span
                >收藏</span
              ></a
            >
          </li>
          <li id="cart">
            <p style="background: #ff9500;">加入购物车{info}</p>
          </li>
          <li id="buy">
            <a href="/store/buy">
              <p style="background: #ff0036;">立即购买</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <script>


      $("#cart").click(function () {
        $.ajax({
          url: "/store/cart/add",
          type: "post",
          data: {
            productid: getQueryVariable("id"),
            amount: 1,
            price: $("#price").text(),
          },
          success: function (res) {
            console.log(res);
            if (res == "1") {
              window.location.href = "/store/cart";
            } else if (res == "0") {
              alert("加入失败");
            }
          },
        });
      });

      $(document).ready(function () {
        $.ajax({
          url: "/store/product/singleinfo",
          type: "post",
          data: {
            productid: getQueryVariable("id"),
          },
          success: function (res) {
            console.log(res);
            if(res!="0") {
              // var vm = new Vue({
              //   el: '#bigbox',
              //   delimiters: ['{', '}'],
              //   // 选项
              //   data:{
              //     info:res[0],
              //   }
              // })
            }
          },
        });
      });
    </script>
    <script type="text/javascript" src="/static/js/detail/banner.js"></script>
  </body>
</html>
