<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>会员中心</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
        <link href="/static/css/my.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section class="aui-flexView">
            <section class="aui-scrollView">
                <div class="aui-center-head">
                    <div class="aui-center-box">
                        <div class="aui-center-logo">
                            <img src="/static/img/images/my/user-logo.png" alt="">
                        </div>
                        <div class="aui-center-text">
                            <h2>官咏颉同学</h2>
                            <p>gyj2006@foxmail.com</p>
                        </div>
                    </div>
                    <div class="aui-center-news">
                        <i class="icon icon-news"></i>
                    </div>
                    <div class="aui-center-block"></div>
                </div>
                <div class="aui-flex aui-flex-two b-line" style="padding:0">
                    <div class="aui-flex-box">我的订单</div>
                    <div class="aui-flex-arrow">全部订单</div>
                </div>
                <div class="aui-palace">
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/static/img/images/my/head-icon-001.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>待付款</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/static/img/images/my/head-icon-002.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>待发货</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/static/img/images/my/head-icon-003.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>待收货</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="/static/img/images/my/head-icon-004.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>退款/售后</h2>
                        </div>
                    </a>
                </div>
                <div class="divHeight"></div>
                <div class="aui-icon-box">
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-001.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">优惠券</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-002.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">红包</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-003.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">收货地址</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-004.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">附近门店</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-005.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">我的收藏</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-006.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">M吗通道</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-007.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">以旧换新</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="/static/img/images/my/left-icon-008.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">设置</div>
                    </a>
                </div>
            </section>
            <div class="footer">
                <div class="footer-b" id="home">
                    <img src="../static/img/images/i1.png">
                    <p>首页</p>
                </div>
                <div class="footer-b" id="category">
                    <img src="../static/img/images/i2.png">
                    <p>分类</p>
                </div>
                <div class="footer-b" id="cart">
                    <img src="../static/img/images/i3.png">
                    <p>购物车</p>
                </div>
                <div class="footer-b" id="my">
                    <img src="../static/img/images/i4.png">
                    <p>我的</p>
                </div>
            </div>
        </section>
    <script>
        $("#category").click(function () {
                window.location.href="/store/category";
            }
        )

        $("#cart").click(function () {
            window.location.href="/store/cart";
        })

        $("#home").click(function () {
            window.location.href="/store"
        })
    </script>
    </body>
</html>